<div class="bodyLeft" style="z-index: 999;">
    <a (click)='showHisttory = false'>
        <h1 class="logo"><img src="../assets/img/dforce.png" alt="" /></h1>
    </a>

    <!-- <a (click)='fnShowHistory()'>
        <h1 class="home"><img src="../assets/img/history.png" alt="" /></h1>
    </a> -->

    <!-- <h1 class="home help"><img src="../assets/img/help.svg" alt="" /></h1> -->
</div>

<!-- welcome -->
<div class="welcome" *ngIf="!showRightInfo">
    <div style="height: 70px;"></div>
    <h2>One Stablecoin For All</h2>
    <h3>USDx = $USD and Better</h3>
    <p class="title">
        USDx is the world’s first synthetic indexed stablecoin<br />
        with robust stability, scalability and fungibility.
    </p>
    <div class="img"><img src="../assets/img/supership.png" alt="" /></div>
</div>
<!-- welcome end -->

<!-- history -->
<div class="history" *ngIf="showHisttory">
    <div class="partone">
        <div style="height: 50px;"></div>
        <h2>USDx History</h2>
        <div class="itemHistory" *ngFor='let item of DUSDhistory; let i = index'>
            <div *ngIf='i < defaultShowNumLeft'>
                <div class="left">
                    <img class='mainImg' src="../assets/img/eth.svg" alt="" *ngIf='item.event !== "Deposit"'>
                    <img class='mainImg' src="../assets/img/lock.svg" alt="" *ngIf='item.event === "Deposit"'>
                </div>
                <div class="right">
                    <p class="time">{{item.timestamp}}</p>
                    <p class="datiles">
                        {{item.event}}
                        {{item.amount}}
                        {{item.token === 'DUSD'? 'USDx':'' }}
                        {{item.token === tokenStrDAI? 'DAI':'' }}
                        {{item.token === tokenStrPAX? 'PAX':'' }}
                        {{item.token === tokenStrTUSD? 'TUSD':'' }}
                        {{item.token === tokenStrUSDC? 'USDC':'' }}
                        <a target="_blank" [href]='"https://kovan.etherscan.io/tx/" + item.transactionHash' [title]='"this txHash is:" + item.transactionHash'>
                            TxHash
                        </a>
                    </p>
                </div>
                <div class="cb"></div>
                <div class="vLine"></div>
            </div>
        </div>
        <div class="showmore" *ngIf='!(DUSDhistory.length <= 5 || defaultShowNumLeft > DUSDhistory.length)'>
            <div class="left havhover" (click)='defaultShowNumLeft = defaultShowNumLeft + 10'>
                <img src="../assets/img/todown.svg" alt="">
            </div>
            <div class="right havhover" (click)='defaultShowNumLeft = defaultShowNumLeft + 10'>Expand more 10 transactions</div>
            <div class="cb"></div>
        </div>
        <div class="showmore" *ngIf='DUSDhistory.length <= 5 || defaultShowNumLeft > DUSDhistory.length'>
            <div class="left">
                <img src="../assets/img/historyicon.svg" alt="">
            </div>
            <div class="right">USDx history</div>
            <div class="cb"></div>
        </div>
    </div>

    <div class="parttwo">
        <div style="height: 50px;"></div>
        <h2>Withdraw History</h2>
        <div class="itemHistory" *ngFor='let item of Withdrawhistory; let i = index'>
            <div *ngIf='i < defaultShowNumRight'>
                <div class="left">
                    <img class='mainImg' src="../assets/img/eth.svg" alt="" *ngIf='item.event !== "Deposit"'>
                    <img class='mainImg' src="../assets/img/lock.svg" alt="" *ngIf='item.event === "Deposit"'>
                </div>
                <div class="right">
                    <p class="time">{{item.timestamp}}</p>
                    <p class="datiles">
                        {{item.event}}
                        {{item.amount}}
                        {{item.token === 'DUSD'? 'USDx':'' }}
                        {{item.token === tokenStrDAI? 'DAI':'' }}
                        {{item.token === tokenStrPAX? 'PAX':'' }}
                        {{item.token === tokenStrTUSD? 'TUSD':'' }}
                        {{item.token === tokenStrUSDC? 'USDC':'' }}
                        <a target="_blank" [href]='"https://kovan.etherscan.io/tx/" + item.transactionHash' [title]='"this txHash is:" + item.transactionHash'>
                            TxHash
                        </a>
                    </p>
                </div>
                <div class="cb"></div>
                <div class="vLine"></div>
            </div>
        </div>
        <div class="showmore" *ngIf='!(Withdrawhistory.length <= 5 || defaultShowNumRight > Withdrawhistory.length)'>
            <div class="left havhover" (click)='defaultShowNumRight = defaultShowNumRight + 10'>
                <img src="../assets/img/todown.svg" alt="">
            </div>
            <div class="right havhover" (click)='defaultShowNumRight = defaultShowNumRight + 10'>Expand more 10 transactions</div>
            <div class="cb"></div>
        </div>
        <div class="showmore" *ngIf='Withdrawhistory.length <= 5 || defaultShowNumRight > Withdrawhistory.length'>
            <div class="left">
                <img src="../assets/img/historyicon.svg" alt="">
            </div>
            <div class="right">Withdraw history</div>
            <div class="cb"></div>
        </div>
    </div>
</div>
<!-- history end -->

<!-- mainBody -->
<div class="main" *ngIf="showRightInfo && !showHisttory" style='padding-left: 105px;'>
    <div class="status">
        <div style="height: 50px;"></div>
        <!-- 合约状态 -->
        <h2>Constituents Pending Pool</h2>
        <table class="status">
            <tr>
                <td class="lightColor">Constituent</td>
                <td class="lightColor">DAI</td>
                <td class="lightColor">PAX</td>
                <td class="lightColor">TUSD</td>
                <td class="lightColor">USDC</td>
            </tr>
            <tr>
                <td class="lightColor">Weighting</td>
                <td>{{ sectionDAI? sectionDAI: '00' }} </td>
                <td>{{ sectionPAX? sectionPAX: '00' }} </td>
                <td>{{ sectionTUSD? sectionTUSD: '00' }} </td>
                <td>{{ sectionUSDC? sectionUSDC: '00' }} </td>
            </tr>
            <tr>
                <td class="lightColor">Balance</td>
                <td>{{ myBalance.totalDAIstr }}</td>
                <td>{{ myBalance.totalPAXstr }}</td>
                <td>{{ myBalance.totalTUSDstr }}</td>
                <td>{{ myBalance.totalUSDCstr }}</td>
            </tr>
        </table>
        <div class="line"></div>
        <!--  -->

        <!-- generate USDx -->
        <h2>Generate USDx</h2>
        <table class="generate">
            <tr valign="top">
                <td>
                    <p>Select which constituent would you like to deposit ?</p>
                    <div class="inputWrap">
                        <input type="number" placeholder="0.0000" [(ngModel)]="generateInputNum" (keyup)="generateInputChange()" />
                        <div class="sel">
                            <select name="" id="" (change)="generateDUSDChanged($event.target.value)">
                                <option value="DAI">DAI</option>
                                <option value="PAX">PAX</option>
                                <option value="TUSD">TUSD</option>
                                <option value="USDC">USDC</option>
                            </select>
                        </div>
                    </div>
                    <div class="cb"></div>
                    <div class="fee">
                        <!-- <div class="datils">
                            <img src="../assets/img/doubt.svg" alt="" />
                            <div class="datilstxt">
                                <div class="triangle"></div>
                                When depositing Constituents into Contract, the same amount of USDx will expect to
                                generate. Certain amount of DF coin is
                                going to charge for brassage.
                            </div>
                        </div> -->
                        <!-- <div class="feetxt">DF fee needed <span>0.0%</span></div> -->
                        <!-- <div class="feetxt">DF fee needed <span>0.0000</span></div> -->
                        <!-- <div class="cb"></div> -->
                        <!-- <div class="fee feePlus">
                                        <div class="feetxt">Min. DUSD required: <span>0.011</span> DUSD</div>
                                        <div class="cb"></div>
                                    </div> -->
                    </div>
                </td>

                <td>
                    <p>Max USDx available to generate.</p>
                    <div class="inputWrap">
                        <input style='opacity: 0.75;' type="number" readonly='readonly' placeholder="0.0000"
                            [(ngModel)]="maxGenerateDUSD" />
                        <div class="sel">USDx</div>
                    </div>
                    <div class="cb"></div>
                </td>
            </tr>
        </table>

        <div class="generate" [ngClass]="{ Active: generateBtnCouldActive }" (click)="generateDUSD()">Deposit</div>
        <div class="errTips" *ngIf="generateExpectedYourBalance" [@fadeIn]>
            <div class="img"><img src="../assets/img/errtips.png" alt="" /></div>
            <div class="txt">The amount of {{tempStr1}} to be deposited exceeds your current balance.</div>
            <div class="cb"></div>
        </div>
        <div class="line"></div>
        <!-- generate USDx end -->

        <!-- withdraw -->
        <h2>Withdraw Constituents</h2>
        <table class="status">
            <tr>
                <td class="lightColor">Constituent</td>
                <td class="lightColor">DAI</td>
                <td class="lightColor">PAX</td>
                <td class="lightColor">TUSD</td>
                <td class="lightColor">USDC</td>
            </tr>
            <tr>
                <td class="lightColor">Balance</td>
                <td class="cursor" (click)='withdrawAllDAI()'>{{ myBalance.myDAIonDUSDstr }}</td>
                <td class="cursor" (click)='withdrawAllPAX()'>{{ myBalance.myPAXonDUSDstr }}</td>
                <td class="cursor" (click)='withdrawAllTUSD()'>{{ myBalance.myTUSDonDUSDstr }}</td>
                <td class="cursor" (click)='withdrawAllUSDC()'>{{ myBalance.myUSDConDUSDstr }}</td>
            </tr>
        </table>

        <table class="generate withdraw">
            <tr valign="top">
                <td>
                    <p>Select which constituent would you like to withdraw ?</p>
                    <div class="inputWrap">
                        <input type="number" placeholder="0.0000" [(ngModel)]="withdrawInputNum" (keyup)="withdrawNumChange()" />
                        <div class="sel">
                            <select name="" id="" (change)="withdrawTokenChanged($event.target.value)" [(ngModel)]="nowWithdrawStr">
                                <option value="DAI">DAI</option>
                                <option value="PAX">PAX</option>
                                <option value="TUSD">TUSD</option>
                                <option value="USDC">USDC</option>
                            </select>
                        </div>
                    </div>
                    <div class="cb"></div>
                </td>
                <td>
                    <div class="withdraw" [ngClass]="{ Active: withdrawBtnCouldActive }" (click)="withdrawMyTokenSelected()">
                        Withdraw
                    </div>
                </td>
            </tr>
        </table>

        <div class="errTips" *ngIf="withdrawExpectedYourBalance" [@fadeIn]>
            <div class="img"><img src="../assets/img/errtips.png" alt="" /></div>
            <div class="txt">The amount of {{tempStr}} to be withdraw exceeds your current balance.</div>
            <div class="cb"></div>
        </div>
        <div class="line"></div>
        <!-- 撤回我的原料 结束 -->

        <!-- Disaggregate -->
        <h2>Disaggregate USDx</h2>
        <table class="dfFee generate destroy">
            <tr valign="top">
                <td>
                    <p>How much USDx would you like to disaggregate ?</p>
                    <div class="warp">
                        <input type="number" placeholder="0.0000" [(ngModel)]="destroyNum" (keyup)="destroyChange()" />
                        <div class="df">USDx</div>
                        <div class="cb"></div>
                        <div class="fee">
                            <div class="datils">
                                <img src="../assets/img/doubt.svg" alt="" />
                                <div class="datilstxt">
                                    <div class="triangle"></div>
                                    When you proceed destroying USDx, certain amount of DF coin is going to
                                    charge for brassage. The current fee is 0.5%.
                                </div>
                            </div>
                            <div class="feetxt">DF fee needed <span>{{destroyFeeNumStr}}</span></div>
                            <div class="cb"></div>
                        </div>
                    </div>
                    <div class="btn" [ngClass]="{ btnActive: destroyBtnCouldActive }" (click)="destroyDUSD()">Disaggregate</div>
                </td>
                <td>
                    <p>How much constituents would expect to generate ?</p>
                    <table class="innerTable">
                        <tr>
                            <td class="lightColor">Constituent</td>
                            <td class="lightColor">Balance</td>
                        </tr>
                        <tr>
                            <td class="lightColor">DAI</td>
                            <td>{{ destroyNumtoDAI }}</td>
                        </tr>
                        <tr>
                            <td class="lightColor">PAX</td>
                            <td>{{ destroyNumtoPAX }}</td>
                        </tr>
                        <tr>
                            <td class="lightColor">TUSD</td>
                            <td>{{ destroyNumtoTUSD }}</td>
                        </tr>
                        <tr>
                            <td class="lightColor">USDC</td>
                            <td>{{ destroyNumtoUSDC }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div class="errTips" *ngIf="DUSDwannaBackExpected" [@fadeIn]>
            <div class="img"><img src="../assets/img/errtips.png" alt="" /></div>
            <div class="txt">The amount of USDx to be destroyed exceeds your current balance.</div>
            <div class="cb"></div>
        </div>
        <div class="line"></div>
        <!-- 销毁 结束 -->
        <div style="height: 300px;"></div>
    </div>
</div>
<!-- mainBody end -->

<div class="bodyRight">
    <!-- before connect -->
    <div class="connect" *ngIf="!showRightInfo">
        <h2>Connect to MetaMask</h2>
        <p>Get started by connecting MetaMask below</p>
        <div class="conBtn" (click)="connect()">
            <span>
                <svg width="16" height="15" viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg" class="metamask">
                    <path d="m.80977778 0-.80977778 2.41601058.52977778 2.5629545-.34311111.26954745.49777777.39034798-.37866666.29749384.504.45976321-.32.21816214.73244444.85642166-1.08444444 3.47076144 1.02044444 3.4914959 3.66222222-.9691087 1.944 1.53615h2.43288889l2.11822227-1.5740129 3.5262222 1.0069716 1.0213333-3.4923974h.0044445l-1.0897778-3.46985994.7315555-.85642166-.32-.21726065.5048889-.45976321-.3786666-.29749384.4977777-.39124947-.3431111-.27044894.5297778-2.56205301-.8106667-2.41601058-5.1004444 1.89945309h-4.1768889zm9.14133333 8.52004327 2.08355559.99435062-2.91555559.85191421zm-5.98577778.99164613 2.08444445-.99164613.832 1.84626483zm2.80088889 2.8379109.36177778-.2109501h1.744l.34044444.2217681.11466667 1.28914h-2.68z"
                        fill="#fff" fill-rule="evenodd" transform=""></path>
                </svg>
            </span>
            <span class="txt">MetaMask</span>
        </div>
    </div>

    <!-- after connect -->
    <div class="connected" *ngIf="showRightInfo">
        <div class="top">
            <div class="imgLeft"><img src="../assets/img/metamask.jpg" alt="" /></div>
            <span class="title">MetaMask</span>
            <!-- <div class="imgRight"><img src="../assets/img/wallet.png" alt="" /></div> -->
            <!-- <span class="address">{{ walletAccount }}</span> -->
            <span class="txt">{{netType}}</span>
            <span class="dot" [ngClass]="{ main: netTypeCode === '1', ropsten: netTypeCode === '3', kovan: netTypeCode === '42', rinkeby: netTypeCode === '4'}"></span>
        </div>

        <!-- send assets -->
        <div class='send' *ngIf="showSideBar">
            <div class="img" (click)='showSideBar=!showSideBar'>
                <img src="../../assets/img/back.png" alt="">
            </div>
            <h2>Send {{willSendTokenStr}}</h2>
            <span>Amount</span>
            <div class="cb"></div>
            <input type="number" placeholder="0.0000" [(ngModel)]='willSendNum' (keyup)="sendNumChange()">
            <div class="cb"></div>
            <p>
                <i *ngIf='willSendTokenStr === "DAI"'>{{myBalance.myDAIstr}} DAI</i>
                <i *ngIf='willSendTokenStr === "PAX"'>{{myBalance.myPAXstr}} PAX</i>
                <i *ngIf='willSendTokenStr === "TUSD"'>{{myBalance.myTUSDstr}} TUSD</i>
                <i *ngIf='willSendTokenStr === "USDC"'>{{myBalance.myUSDCstr}} USDC</i>
                <i *ngIf='willSendTokenStr === "DUSD"'>{{myBalance.myDUSDstr}} USDx</i>
                <i *ngIf='willSendTokenStr === "DF"'>{{myBalance.myDFstr}} DF</i>
                <i *ngIf='willSendTokenStr === "ETH"'>{{myBalance.myETHstr}} ETH</i>
                available
            </p>
            <div class="errTips" *ngIf='willSendNumErr' [@fadeIn]>
                <div class="txt">The amount of {{willSendTokenStr}} to be send exceeds your current balance.</div>
            </div>

            <span>Destination</span>
            <div class="cb"></div>
            <input type="text" placeholder="Address" [(ngModel)]='willSendToAddress' (keyup)="sendAddrChange()">
            <div class="cb"></div>
            <!-- <div class="errTips" [@fadeIn]>
                <div class="txt">The amount of {{tempStr1}} to be deposited exceeds your current balance.</div>
            </div> -->

            <div class="btn">
                <div class="btnLeft" (click)='emptyInput()'>CANCEL</div>
                <div class="btnRight" [ngClass]='{"active": willSendBtnCouldClick && rightAddress}' (click)='sendAssets()'>SEND</div>
            </div>
        </div>

        <!-- assets status -->
        <table class="assets" *ngIf="!showSideBar">
            <tr>
                <th>ASSET</th>
                <th>BALANCE</th>
                <th>SEND</th>
                <th>UNLOCK</th>
            </tr>

            <!-- ETH -->
            <tr class="lightColor">
                <td>
                    <p class="title">ETH</p>
                    <p class="txt">USD</p>
                </td>
                <td>
                    <p class="title">{{ myBalance.myETHstr }}</p>
                    <p class="txt">$0.00</p>
                </td>
                <td>
                    <div class="plane">
                        <svg width="17" height="17" viewBox="0 0 91 90" fill="none" xmlns="http://www.w3.org/2000/svg" (click)='sendETH()' class="cur">
                            <path d="M0.1031 85.7729L7.7031 52.8729C8.0031 51.4729 9.2031 50.3729 10.7031 50.1729L53.2031 45.7729C54.4031 45.6729 54.4031 43.8729 53.2031 43.6729L10.7031 39.5729C9.2031 39.4729 8.0031 38.3729 7.7031 36.9729L0.1031 4.17286C-0.5969 1.37286 2.4031 -0.927135 5.0031 0.372864L88.1031 41.9729C90.6031 43.2729 90.6031 46.8729 88.1031 48.1729L5.0031 89.5729C2.4031 90.8729 -0.5969 88.5729 0.1031 85.7729Z"
                                transform="translate(0.996887)" fill="#D8D8D8"></path>
                        </svg>
                    </div>
                </td>
                <td></td>
            </tr>
            <!-- ETH end -->

            <!-- DAI -->
            <tr class="">
                <td>
                    <p class="title">DAI</p>
                    <p class="txt">USD</p>
                </td>
                <td>
                    <p class="title">{{ myBalance.myDAIstr }}</p>
                    <p class="txt">$0.00</p>
                </td>
                <td>
                    <div class="plane">
                        <svg width="17" height="17" viewBox="0 0 91 90" fill="none" xmlns="http://www.w3.org/2000/svg" (click)='sendDAI()' class="cur">
                            <path d="M0.1031 85.7729L7.7031 52.8729C8.0031 51.4729 9.2031 50.3729 10.7031 50.1729L53.2031 45.7729C54.4031 45.6729 54.4031 43.8729 53.2031 43.6729L10.7031 39.5729C9.2031 39.4729 8.0031 38.3729 7.7031 36.9729L0.1031 4.17286C-0.5969 1.37286 2.4031 -0.927135 5.0031 0.372864L88.1031 41.9729C90.6031 43.2729 90.6031 46.8729 88.1031 48.1729L5.0031 89.5729C2.4031 90.8729 -0.5969 88.5729 0.1031 85.7729Z"
                                transform="translate(0.996887)" fill="#D8D8D8"></path>
                        </svg>
                    </div>
                </td>
                <td>
                    <div class="switch" (click)="approveDAI()" [ngClass]="{ switchGreen: checkLockStatus.DAIislock === true }">
                        <div class="" [ngClass]="{ lock: !checkLockStatus.DAIislock, lockRight: checkLockStatus.DAIislock }">
                            <svg *ngIf="!checkLockStatus.DAIislock" height="9" viewBox="0 0 7 9" width="7" xmlns="http://www.w3.org/2000/svg">
                                <path d="m12.65625 9.21728516c.1358031 0 .2530859.04938222.3518519.14814814.0987659.09876593.1481481.21604871.1481481.35185186v3.50000004c0 .1358031-.0493822.2530859-.1481481.3518518-.098766.0987659-.2160488.1481482-.3518519.1481482h-5c-.13580315 0-.25308593-.0493823-.35185185-.1481482-.09876593-.0987659-.14814815-.2160487-.14814815-.3518518v-3.50000004c0-.13580315.04938222-.25308593.14814815-.35185186.09876592-.09876592.2160487-.14814814.35185185-.14814814h.5v-1.5c0-.54938547.19598569-1.02005977.58796296-1.41203704s.86265158-.58796296 1.41203704-.58796296c.5493855 0 1.0200598.19598569 1.412037.58796296.3919773.39197727.587963.86265157.587963 1.41203704v1.5zm-3.5-1.5v1.5h2v-1.5c0-.27777917-.0972213-.51388792-.2916667-.70833334-.1944454-.19444541-.4305541-.29166666-.7083333-.29166666-.27777917 0-.51388792.09722125-.70833333.29166666-.19444542.19444542-.29166667.43055417-.29166667.70833334z"
                                    fill="#dedede" fill-rule="evenodd" transform="translate(-7 -5)"></path>
                            </svg>

                            <svg *ngIf="checkLockStatus.DAIislock" t="1545729594551" class="icon" style="" viewBox="0 0 1024 1024"
                                version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5597" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="12" height="12">
                                <defs>
                                    <style type="text/css"></style>
                                </defs>
                                <path d="M416.832 798.08C400.64 798.08 384.512 791.872 372.16 779.52L119.424 525.76C94.784 500.992 94.784 460.8 119.424 436.032 144.128 411.264 184.128 411.264 208.768 436.032L416.832 644.928 814.4 245.76C839.04 220.928 879.04 220.928 903.744 245.76 928.384 270.528 928.384 310.656 903.744 335.424L461.504 779.52C449.152 791.872 432.96 798.08 416.832 798.08Z"
                                    p-id="5598" fill="#fff"></path>
                            </svg>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- DAI end -->

            <!-- PAX -->
            <tr class="lightColor">
                <td>
                    <p class="title">PAX</p>
                    <p class="txt">USD</p>
                </td>
                <td>
                    <p class="title">{{ myBalance.myPAXstr }}</p>
                    <p class="txt">$0.00</p>
                </td>
                <td>
                    <div class="plane">
                        <svg width="17" height="17" viewBox="0 0 91 90" fill="none" xmlns="http://www.w3.org/2000/svg" (click)='sendPAX()' class="cur">
                            <path d="M0.1031 85.7729L7.7031 52.8729C8.0031 51.4729 9.2031 50.3729 10.7031 50.1729L53.2031 45.7729C54.4031 45.6729 54.4031 43.8729 53.2031 43.6729L10.7031 39.5729C9.2031 39.4729 8.0031 38.3729 7.7031 36.9729L0.1031 4.17286C-0.5969 1.37286 2.4031 -0.927135 5.0031 0.372864L88.1031 41.9729C90.6031 43.2729 90.6031 46.8729 88.1031 48.1729L5.0031 89.5729C2.4031 90.8729 -0.5969 88.5729 0.1031 85.7729Z"
                                transform="translate(0.996887)" fill="#D8D8D8"></path>
                        </svg>
                    </div>
                </td>
                <td>
                    <div class="switch" (click)="approvePAX()" [ngClass]="{ switchGreen: checkLockStatus.PAXislock === true }">
                        <div class="" [ngClass]="{ lock: !checkLockStatus.PAXislock, lockRight: checkLockStatus.PAXislock }">
                            <svg *ngIf="!checkLockStatus.PAXislock" height="9" viewBox="0 0 7 9" width="7" xmlns="http://www.w3.org/2000/svg">
                                <path d="m12.65625 9.21728516c.1358031 0 .2530859.04938222.3518519.14814814.0987659.09876593.1481481.21604871.1481481.35185186v3.50000004c0 .1358031-.0493822.2530859-.1481481.3518518-.098766.0987659-.2160488.1481482-.3518519.1481482h-5c-.13580315 0-.25308593-.0493823-.35185185-.1481482-.09876593-.0987659-.14814815-.2160487-.14814815-.3518518v-3.50000004c0-.13580315.04938222-.25308593.14814815-.35185186.09876592-.09876592.2160487-.14814814.35185185-.14814814h.5v-1.5c0-.54938547.19598569-1.02005977.58796296-1.41203704s.86265158-.58796296 1.41203704-.58796296c.5493855 0 1.0200598.19598569 1.412037.58796296.3919773.39197727.587963.86265157.587963 1.41203704v1.5zm-3.5-1.5v1.5h2v-1.5c0-.27777917-.0972213-.51388792-.2916667-.70833334-.1944454-.19444541-.4305541-.29166666-.7083333-.29166666-.27777917 0-.51388792.09722125-.70833333.29166666-.19444542.19444542-.29166667.43055417-.29166667.70833334z"
                                    fill="#dedede" fill-rule="evenodd" transform="translate(-7 -5)"></path>
                            </svg>

                            <svg *ngIf="checkLockStatus.PAXislock" t="1545729594551" class="icon" style="" viewBox="0 0 1024 1024"
                                version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5597" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="12" height="12">
                                <defs>
                                    <style type="text/css"></style>
                                </defs>
                                <path d="M416.832 798.08C400.64 798.08 384.512 791.872 372.16 779.52L119.424 525.76C94.784 500.992 94.784 460.8 119.424 436.032 144.128 411.264 184.128 411.264 208.768 436.032L416.832 644.928 814.4 245.76C839.04 220.928 879.04 220.928 903.744 245.76 928.384 270.528 928.384 310.656 903.744 335.424L461.504 779.52C449.152 791.872 432.96 798.08 416.832 798.08Z"
                                    p-id="5598" fill="#fff"></path>
                            </svg>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- PAX end -->

            <!-- TUSD -->
            <tr class="">
                <td>
                    <p class="title">TUSD</p>
                    <p class="txt">USD</p>
                </td>
                <td>
                    <p class="title">{{ myBalance.myTUSDstr }}</p>
                    <p class="txt">$0.00</p>
                </td>
                <td>
                    <div class="plane">
                        <svg width="17" height="17" viewBox="0 0 91 90" fill="none" xmlns="http://www.w3.org/2000/svg" (click)='sendTUSD()' class="cur">
                            <path d="M0.1031 85.7729L7.7031 52.8729C8.0031 51.4729 9.2031 50.3729 10.7031 50.1729L53.2031 45.7729C54.4031 45.6729 54.4031 43.8729 53.2031 43.6729L10.7031 39.5729C9.2031 39.4729 8.0031 38.3729 7.7031 36.9729L0.1031 4.17286C-0.5969 1.37286 2.4031 -0.927135 5.0031 0.372864L88.1031 41.9729C90.6031 43.2729 90.6031 46.8729 88.1031 48.1729L5.0031 89.5729C2.4031 90.8729 -0.5969 88.5729 0.1031 85.7729Z"
                                transform="translate(0.996887)" fill="#D8D8D8"></path>
                        </svg>
                    </div>
                </td>
                <td>
                    <div class="switch" (click)="approveTUSD()" [ngClass]="{ switchGreen: checkLockStatus.TUSDislock === true }">
                        <div class="" [ngClass]="{ lock: !checkLockStatus.TUSDislock, lockRight: checkLockStatus.TUSDislock }">
                            <svg *ngIf="!checkLockStatus.TUSDislock" height="9" viewBox="0 0 7 9" width="7" xmlns="http://www.w3.org/2000/svg">
                                <path d="m12.65625 9.21728516c.1358031 0 .2530859.04938222.3518519.14814814.0987659.09876593.1481481.21604871.1481481.35185186v3.50000004c0 .1358031-.0493822.2530859-.1481481.3518518-.098766.0987659-.2160488.1481482-.3518519.1481482h-5c-.13580315 0-.25308593-.0493823-.35185185-.1481482-.09876593-.0987659-.14814815-.2160487-.14814815-.3518518v-3.50000004c0-.13580315.04938222-.25308593.14814815-.35185186.09876592-.09876592.2160487-.14814814.35185185-.14814814h.5v-1.5c0-.54938547.19598569-1.02005977.58796296-1.41203704s.86265158-.58796296 1.41203704-.58796296c.5493855 0 1.0200598.19598569 1.412037.58796296.3919773.39197727.587963.86265157.587963 1.41203704v1.5zm-3.5-1.5v1.5h2v-1.5c0-.27777917-.0972213-.51388792-.2916667-.70833334-.1944454-.19444541-.4305541-.29166666-.7083333-.29166666-.27777917 0-.51388792.09722125-.70833333.29166666-.19444542.19444542-.29166667.43055417-.29166667.70833334z"
                                    fill="#dedede" fill-rule="evenodd" transform="translate(-7 -5)"></path>
                            </svg>

                            <svg *ngIf="checkLockStatus.TUSDislock" t="1545729594551" class="icon" style="" viewBox="0 0 1024 1024"
                                version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5597" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="12" height="12">
                                <defs>
                                    <style type="text/css"></style>
                                </defs>
                                <path d="M416.832 798.08C400.64 798.08 384.512 791.872 372.16 779.52L119.424 525.76C94.784 500.992 94.784 460.8 119.424 436.032 144.128 411.264 184.128 411.264 208.768 436.032L416.832 644.928 814.4 245.76C839.04 220.928 879.04 220.928 903.744 245.76 928.384 270.528 928.384 310.656 903.744 335.424L461.504 779.52C449.152 791.872 432.96 798.08 416.832 798.08Z"
                                    p-id="5598" fill="#fff"></path>
                            </svg>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- TUSD end -->

            <!-- USDC -->
            <tr class="lightColor">
                <td>
                    <p class="title">USDC</p>
                    <p class="txt">USD</p>
                </td>
                <td>
                    <p class="title">{{ myBalance.myUSDCstr }}</p>
                    <p class="txt">$0.00</p>
                </td>
                <td>
                    <div class="plane">
                        <svg width="17" height="17" viewBox="0 0 91 90" fill="none" xmlns="http://www.w3.org/2000/svg" (click)='sendUSDC()' class="cur">
                            <path d="M0.1031 85.7729L7.7031 52.8729C8.0031 51.4729 9.2031 50.3729 10.7031 50.1729L53.2031 45.7729C54.4031 45.6729 54.4031 43.8729 53.2031 43.6729L10.7031 39.5729C9.2031 39.4729 8.0031 38.3729 7.7031 36.9729L0.1031 4.17286C-0.5969 1.37286 2.4031 -0.927135 5.0031 0.372864L88.1031 41.9729C90.6031 43.2729 90.6031 46.8729 88.1031 48.1729L5.0031 89.5729C2.4031 90.8729 -0.5969 88.5729 0.1031 85.7729Z"
                                transform="translate(0.996887)" fill="#D8D8D8"></path>
                        </svg>
                    </div>
                </td>
                <td>
                    <div class="switch" (click)="approveUSDC()" [ngClass]="{ switchGreen: checkLockStatus.USDCislock === true }">
                        <div class="" [ngClass]="{ lock: !checkLockStatus.USDCislock, lockRight: checkLockStatus.USDCislock }">
                            <svg *ngIf="!checkLockStatus.USDCislock" height="9" viewBox="0 0 7 9" width="7" xmlns="http://www.w3.org/2000/svg">
                                <path d="m12.65625 9.21728516c.1358031 0 .2530859.04938222.3518519.14814814.0987659.09876593.1481481.21604871.1481481.35185186v3.50000004c0 .1358031-.0493822.2530859-.1481481.3518518-.098766.0987659-.2160488.1481482-.3518519.1481482h-5c-.13580315 0-.25308593-.0493823-.35185185-.1481482-.09876593-.0987659-.14814815-.2160487-.14814815-.3518518v-3.50000004c0-.13580315.04938222-.25308593.14814815-.35185186.09876592-.09876592.2160487-.14814814.35185185-.14814814h.5v-1.5c0-.54938547.19598569-1.02005977.58796296-1.41203704s.86265158-.58796296 1.41203704-.58796296c.5493855 0 1.0200598.19598569 1.412037.58796296.3919773.39197727.587963.86265157.587963 1.41203704v1.5zm-3.5-1.5v1.5h2v-1.5c0-.27777917-.0972213-.51388792-.2916667-.70833334-.1944454-.19444541-.4305541-.29166666-.7083333-.29166666-.27777917 0-.51388792.09722125-.70833333.29166666-.19444542.19444542-.29166667.43055417-.29166667.70833334z"
                                    fill="#dedede" fill-rule="evenodd" transform="translate(-7 -5)"></path>
                            </svg>

                            <svg *ngIf="checkLockStatus.USDCislock" t="1545729594551" class="icon" style="" viewBox="0 0 1024 1024"
                                version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5597" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="12" height="12">
                                <defs>
                                    <style type="text/css"></style>
                                </defs>
                                <path d="M416.832 798.08C400.64 798.08 384.512 791.872 372.16 779.52L119.424 525.76C94.784 500.992 94.784 460.8 119.424 436.032 144.128 411.264 184.128 411.264 208.768 436.032L416.832 644.928 814.4 245.76C839.04 220.928 879.04 220.928 903.744 245.76 928.384 270.528 928.384 310.656 903.744 335.424L461.504 779.52C449.152 791.872 432.96 798.08 416.832 798.08Z"
                                    p-id="5598" fill="#fff"></path>
                            </svg>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- USDC end -->

            <!-- DF -->
            <tr class="">
                <td>
                    <p class="title">DF</p>
                    <p class="txt">DF</p>
                </td>
                <td>
                    <p class="title">{{ myBalance.myDFstr }}</p>
                    <p class="txt">$0.00</p>
                </td>
                <td>
                    <div class="plane">
                        <svg width="17" height="17" viewBox="0 0 91 90" fill="none" xmlns="http://www.w3.org/2000/svg" (click)='sendDF()' class="cur">
                            <path d="M0.1031 85.7729L7.7031 52.8729C8.0031 51.4729 9.2031 50.3729 10.7031 50.1729L53.2031 45.7729C54.4031 45.6729 54.4031 43.8729 53.2031 43.6729L10.7031 39.5729C9.2031 39.4729 8.0031 38.3729 7.7031 36.9729L0.1031 4.17286C-0.5969 1.37286 2.4031 -0.927135 5.0031 0.372864L88.1031 41.9729C90.6031 43.2729 90.6031 46.8729 88.1031 48.1729L5.0031 89.5729C2.4031 90.8729 -0.5969 88.5729 0.1031 85.7729Z"
                                transform="translate(0.996887)" fill="#D8D8D8"></path>
                        </svg>
                    </div>
                </td>
                <td>
                    <div class="switch" (click)="approveDF()" [ngClass]="{ switchGreen: checkLockStatus.DFislock === true }">
                        <div class="" [ngClass]="{ lock: !checkLockStatus.DFislock, lockRight: checkLockStatus.DFislock }">
                            <svg *ngIf="!checkLockStatus.DFislock" height="9" viewBox="0 0 7 9" width="7" xmlns="http://www.w3.org/2000/svg">
                                <path d="m12.65625 9.21728516c.1358031 0 .2530859.04938222.3518519.14814814.0987659.09876593.1481481.21604871.1481481.35185186v3.50000004c0 .1358031-.0493822.2530859-.1481481.3518518-.098766.0987659-.2160488.1481482-.3518519.1481482h-5c-.13580315 0-.25308593-.0493823-.35185185-.1481482-.09876593-.0987659-.14814815-.2160487-.14814815-.3518518v-3.50000004c0-.13580315.04938222-.25308593.14814815-.35185186.09876592-.09876592.2160487-.14814814.35185185-.14814814h.5v-1.5c0-.54938547.19598569-1.02005977.58796296-1.41203704s.86265158-.58796296 1.41203704-.58796296c.5493855 0 1.0200598.19598569 1.412037.58796296.3919773.39197727.587963.86265157.587963 1.41203704v1.5zm-3.5-1.5v1.5h2v-1.5c0-.27777917-.0972213-.51388792-.2916667-.70833334-.1944454-.19444541-.4305541-.29166666-.7083333-.29166666-.27777917 0-.51388792.09722125-.70833333.29166666-.19444542.19444542-.29166667.43055417-.29166667.70833334z"
                                    fill="#dedede" fill-rule="evenodd" transform="translate(-7 -5)"></path>
                            </svg>

                            <svg *ngIf="checkLockStatus.DFislock" t="1545729594551" class="icon" style="" viewBox="0 0 1024 1024"
                                version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5597" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="12" height="12">
                                <defs>
                                    <style type="text/css"></style>
                                </defs>
                                <path d="M416.832 798.08C400.64 798.08 384.512 791.872 372.16 779.52L119.424 525.76C94.784 500.992 94.784 460.8 119.424 436.032 144.128 411.264 184.128 411.264 208.768 436.032L416.832 644.928 814.4 245.76C839.04 220.928 879.04 220.928 903.744 245.76 928.384 270.528 928.384 310.656 903.744 335.424L461.504 779.52C449.152 791.872 432.96 798.08 416.832 798.08Z"
                                    p-id="5598" fill="#fff"></path>
                            </svg>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- DF end -->

            <!-- USDx -->
            <tr class="lightColor">
                <td>
                    <p class="title">USDx</p>
                    <p class="txt">USD</p>
                </td>
                <td>
                    <p class="title">{{ myBalance.myDUSDstr }}</p>
                    <p class="txt">$0.00</p>
                </td>
                <td>
                    <div class="plane">
                        <svg width="17" height="17" viewBox="0 0 91 90" fill="none" xmlns="http://www.w3.org/2000/svg" (click)='sendDUSD()' class="cur">
                            <path d="M0.1031 85.7729L7.7031 52.8729C8.0031 51.4729 9.2031 50.3729 10.7031 50.1729L53.2031 45.7729C54.4031 45.6729 54.4031 43.8729 53.2031 43.6729L10.7031 39.5729C9.2031 39.4729 8.0031 38.3729 7.7031 36.9729L0.1031 4.17286C-0.5969 1.37286 2.4031 -0.927135 5.0031 0.372864L88.1031 41.9729C90.6031 43.2729 90.6031 46.8729 88.1031 48.1729L5.0031 89.5729C2.4031 90.8729 -0.5969 88.5729 0.1031 85.7729Z"
                                transform="translate(0.996887)" fill="#D8D8D8"></path>
                        </svg>
                    </div>
                </td>
                <td>
                    <div class="switch" (click)="approveUSDx()" [ngClass]="{ switchGreen: checkLockStatus.USDxislock === true }">
                        <div class="" [ngClass]="{ lock: !checkLockStatus.USDxislock, lockRight: checkLockStatus.USDxislock }">
                            <svg *ngIf="!checkLockStatus.USDxislock" height="9" viewBox="0 0 7 9" width="7" xmlns="http://www.w3.org/2000/svg">
                                <path d="m12.65625 9.21728516c.1358031 0 .2530859.04938222.3518519.14814814.0987659.09876593.1481481.21604871.1481481.35185186v3.50000004c0 .1358031-.0493822.2530859-.1481481.3518518-.098766.0987659-.2160488.1481482-.3518519.1481482h-5c-.13580315 0-.25308593-.0493823-.35185185-.1481482-.09876593-.0987659-.14814815-.2160487-.14814815-.3518518v-3.50000004c0-.13580315.04938222-.25308593.14814815-.35185186.09876592-.09876592.2160487-.14814814.35185185-.14814814h.5v-1.5c0-.54938547.19598569-1.02005977.58796296-1.41203704s.86265158-.58796296 1.41203704-.58796296c.5493855 0 1.0200598.19598569 1.412037.58796296.3919773.39197727.587963.86265157.587963 1.41203704v1.5zm-3.5-1.5v1.5h2v-1.5c0-.27777917-.0972213-.51388792-.2916667-.70833334-.1944454-.19444541-.4305541-.29166666-.7083333-.29166666-.27777917 0-.51388792.09722125-.70833333.29166666-.19444542.19444542-.29166667.43055417-.29166667.70833334z"
                                    fill="#dedede" fill-rule="evenodd" transform="translate(-7 -5)"></path>
                            </svg>

                            <svg *ngIf="checkLockStatus.USDxislock" t="1545729594551" class="icon" style="" viewBox="0 0 1024 1024"
                                version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5597" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="12" height="12">
                                <defs>
                                    <style type="text/css"></style>
                                </defs>
                                <path d="M416.832 798.08C400.64 798.08 384.512 791.872 372.16 779.52L119.424 525.76C94.784 500.992 94.784 460.8 119.424 436.032 144.128 411.264 184.128 411.264 208.768 436.032L416.832 644.928 814.4 245.76C839.04 220.928 879.04 220.928 903.744 245.76 928.384 270.528 928.384 310.656 903.744 335.424L461.504 779.52C449.152 791.872 432.96 798.08 416.832 798.08Z"
                                    p-id="5598" fill="#fff"></path>
                            </svg>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- USDx end -->
        </table>
    </div>
    <!-- price info -->
    <div class="info" *ngIf="showRightInfo">
        <!-- <div class="netInfo">
            <span class="dot" [ngClass]="{ main: netTypeCode === '1', ropsten: netTypeCode === '3', kovan: netTypeCode === '42', rinkeby: netTypeCode === '4'}"></span>
            <span class="txt">{{netType}}</span>
        </div> -->
        <div class="priceInfo">
            <h2>Global USDx Info</h2>
            <div class="data">
                <p>Total USDx Outstanding</p>
                <h3>
                    <span>{{ myBalance.totalSupplyNumstr }}</span>
                    <div class="cb"></div>
                </h3>
            </div>

            <div class="data">
                <p>Global Collateral Pool</p>
                <h3>
                    <span class='left'> DAI : </span><span>{{ myBalance.digestedDAI }}</span>
                    <div class="cb"></div>
                </h3>
                <h3>
                    <span class='left'> PAX : </span><span>{{ myBalance.digestedPAX }}</span>
                    <div class="cb"></div>
                </h3>
                <h3>
                    <span class='left'> TUSD : </span><span>{{ myBalance.digestedTUSD }}</span>
                    <div class="cb"></div>
                </h3>
                <h3>
                    <span class='left'> USDC : </span><span>{{ myBalance.digestedUSDC }}</span>
                    <div class="cb"></div>
                </h3>
            </div>
            <div class="line"></div>
        </div>
    </div>
</div>

<!-- tips -->
<div class="alert">
    <div *ngFor="let item of txHashArr" class='tips' [ngClass]="{ inprogress: item.TipsType === 'inprogress', success: item.TipsType === 'success', error: item.TipsType === 'error'}">
        <div *ngIf='item.showTips'>
            <div class="close" (click)="item.showTips = !item.showTips">
                <img src="../assets/img/close.png" alt="" />
            </div>
            <div class="img">
                <img *ngIf="item.TipsType === 'inprogress'" src="../assets/img/clock.png" alt="" />
                <img *ngIf="item.TipsType === 'success'" src="../assets/img/ok.png" alt="" />
                <img *ngIf="item.TipsType === 'error'" src="../assets/img/bannad.png" alt="" />
                <span>{{item.msgTitle? item.msgTitle:''}}</span>
                <div class="cb"></div>
            </div>
            <p>{{item.msg? item.msg:''}}</p>
        </div>
    </div>
</div>
