<div class="bodyMain">
    <!-- left -->
    <!-- <div class="bodyLeft">
        <a routerLink="/home">
            <h1 class="logo"><img src="../assets/img/logo.png" alt="" /></h1>
        </a>

        <a routerLink="/history">
            <h1 class="home"><img src="../assets/img/home.svg" alt="" /></h1>
        </a>

        <h1 class="home help"><img src="../assets/img/help.svg" alt="" /></h1>
    </div> -->
    <!-- left end -->
    <!-- main body -->
    <div class="bodyCenter">
        <router-outlet></router-outlet>
    </div>
</div>
